body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
 /* display: none;*/
}

.line {
  fill: none;
  stroke: darkgreen;
  stroke-width: 1.5px;
}


.chart {
  height: 500px;
}